body {
  background-image: url("../images/space-stars.gif");
  background-attachment: fixed;
  background-size: fill;
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  font: 1.3rem Inconsolata, monospace;
}

a {
  color: inherit;
}

.parent-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 300px 600px 300px;
  grid-template-row: 100px, auto, 100px;
  grid-template-areas: "left-column-container main-container right-column-container";
}

.main-container {
  display: grid;
  grid-area: main-container;
  /* grid-template-row: auto; */
  grid-template-areas:
    "favorite-songs"
    "my-songs";
}

.left-column-container {
  display: grid;
  grid-area: left-column-container;
  border: solid 2px white;
  background-image: url("../images/song-section-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: soft-light;
  z-index: 999;
}

.left-column-container:hover {
  border: solid 3px white;
}

.right-column-container:hover {
  border: solid 3px white;
}

.songs-section:hover {
  border: solid 3px white;
}

p:hover {
  font-size: 21px;
}

.right-column-container {
  display: grid;
  grid-area: right-column-container;
  border: solid 2px white;
  background-image: url("../images/song-section-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: soft-light;
  z-index: 999;
}

#favorite-songs {
  grid-area: favorite-songs;
}

#my-songs {
  grid-area: my-songs;
}

.songs-section {
  border-radius: 10px;
  display: grid;
  border: solid 2px rgb(255, 255, 255);
  background-image: url("../images/song-section-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.85);

  background-blend-mode: soft-light;

  margin: 10px;
  padding: 10px;
  z-index: 999;
}

.songs-section > p {
  border-radius: 10px;
  border: solid 2px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.801);
  background-attachment: fixed;
  background-size: cover;
  margin: 10px;
  padding: 10px;
}
